pysqlite3-binary        #pysqlite dependency
ollama==0.3.3           # Local inference
chromadb==0.5.20        # Vector Database
sentence-transformers==3.3.1  # CrossEncoder Re-ranking
streamlit==1.40.1       # Application UI
PyMuPDF==1.24.14        # PDF Document loader
langchain-community==0.3.7    # Utils for text splitting and document loaders
fpdf                    # PDF generation
openpyxl                # Excel file support
unstructured            # Unstructured document loader
msoffcrypto-tool        # Office file decryption
pandas                  # DataFrame and Excel export
uuid                    # Unique user/session IDs
openai                  # OpenAI API